*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    background: linear-gradient(185deg, rgb(59, 106, 106), rgb(92, 48, 131));
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
.wrapper{
    width: 90vh;
    max-width: 60%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    border: 1px dotted #bfb5b5;
    margin: 1rem;
    border-radius: 2rem;
}
.header{
    color: #bfb5b5;
    margin-bottom: 2rem;
}
.input-number{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
}
.h5{
    color: #bfb5b5;
    margin-bottom: 0.5rem;
}
#number1, #number2{
    padding: 0.9rem 4rem;
    border: 2px solid #bfb5b5;
    outline: none;
    font-size: 1rem;
    border-radius: 3rem;
    color: #fff;
    font-weight: 700;
    background: transparent;
    backdrop-filter: blur(5px);
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}
#number1:hover, #number2:hover{
    color: #fff;
    border: 2px solid #fff;
    background: none;
}
::placeholder{
    color: #ccc;
}
#noti{
    color: #bfb5b5;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    top: 1rem;
    margin-bottom: 15px;
}
.buttons-div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin-top: 2rem;
}
.btn-gen-clear{
    margin: 0 5px;
    border: 2px solid #bfb5b5;
    cursor: pointer;
    padding: 0.7rem 1.7rem;
    font-size: 1rem;
    color: #bfb5b5;
    font-weight: 600;
    border-radius: 2rem;
    background: transparent;
    backdrop-filter: blur(5px);
    transition: 0.4s ease;
}
.last-div{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
}

.batans{
    display: flex;
    gap: 10px;
    margin: 1rem 0;
}

#downloadButton, #copyButton{
    border: 2px solid #bfb5b5;
    cursor: pointer;
    font-weight: 600;
    padding: 0.7rem 1.7rem;
    font-size: 1rem;
    color: #bfb5b5;
    border-radius: 2rem;
    background: transparent;
    backdrop-filter: blur(5px);
    /* margin: 1.5rem 0; */
    display: none;
}
#downloadButton:hover, #copyButton:hover{
    color: #fff;
    border: 2px solid #fff;
    background: none;
}
#para{
    color: #bfb5b5;
    text-align: center;
    margin: 0 1rem;
}
#para-primes{
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}
.btn:hover{
    color: #fff;
    border: 2px solid #fff;
    background: none;
}

#prime-para{
    color: #bfb5b5;
    font-weight: 600;
    display: none;
}

@media all and (max-width:650px){
    .wrapper{
        width: 90%;
        max-width: 95vw;
    }
    .buttons-div{
        flex-direction: column;
        gap: 0.6rem;
        margin-top: 2rem;
    }
    #number1, #number2{
        padding: 0.8rem 2.5rem;
    }
    .input-number{
        text-align: center;
    }
    .h5{
        margin: 0 10px;
    }
    .buttons-div{
        margin-top: 4rem;
    }
    #noti{
        text-align: center;
    }
    .last-div{
        margin-top: 4rem;
        width: 90%;
        max-width: 95vw;
    }
    .batans{
        flex-direction: column;
    }
}

/* Footer */

.footer-card{
    width: 65%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(65deg, rgb(138, 68, 200), rgb(133, 176, 176));
    margin-bottom: 1rem;
    border-radius: 0.8rem;
}
.footer-card a{
    text-decoration: none;
    color: #fff;
}

.footer-card a h5:hover{
    color: #00feba;
}

section{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
